/* 모든 컴포넌트에 적용되는 공용 css임 */

body {
  margin: 0;
  background: #303030;
  color: white;
  font-family: 'Arial', sans-serif; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #61dafb;
}

.title-sub {
  text-align: center;
  font-size: 18px;
  color: #ccc; 
}

.link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #61dafb;
  font-weight: bold;
}

.food {
  margin : 20px auto;
  width : 200px;
  background: white;
  color: black;
  padding : 20px;
  border-radius: 5px;
}

.navbar {
  background: white;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}